@import "tailwindcss";

:root {
    --bg-start: #0f172a;
    --bg-mid: #6b21a8;
    --bg-end: #0f172a;

    --bg-red-start: #7f1d1d;
    --bg-red-mid: #b91c1c;
    --bg-red-end: #7f1d1d;
}

.bg-gradient-default {
    background-image: linear-gradient(
        to bottom right,
        var(--bg-start),
        var(--bg-mid),
        var(--bg-end)
    );
}

.bg-gradient-red {
    background-image: linear-gradient(
        to bottom right,
        var(--bg-red-start),
        var(--bg-red-mid),
        var(--bg-red-end)
    );
}

html,
body {
    height: 100%;
    touch-action: none;
    overscroll-behavior: none;
}

@keyframes jumpTwice {
    0%,
    100% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-6px);
    }
    20% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-4px);
    }
    40% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.emoji-jump {
    display: inline-block;
}

.group:hover .emoji-jump {
    animation: jumpTwice 1.2s ease-in-out infinite;
}

@layer utilities {
    @keyframes snake-fill {
        0% {
            width: 0%;
        }
        85% {
            width: 100%;
        }
        100% {
            width: 100%;
        }
    }

    .animate-snake-fill {
        animation: snake-fill 1.8s cubic-bezier(0.25, 0.7, 0.1, 0.1) infinite;
    }
}
